.post-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of cards in case of smaller screens */
    gap: 20px;
    justify-content: center; /* Center-align the posts if they don't fill the entire width */
}

.card {
    flex: 1 1 300px; /* Allows each card to grow but base at 300px */
    max-width: calc(33.33% - 40px); /* Assuming three columns with 20px gap */
    background-color: black;
    border: 2px solid purple;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222222;
}

.heart-button {
    background: none;
    border: none;
    color: white; /* Default color, change if you want something else when not focused on heart */
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.heart-button.red-heart {
    color: red; /* Color for both the icon and text */
}

.profile-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.profile-info,
.username-text {
    font-size: 0.85em;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}
